section {
  width: 100px;
  height: 100px;
  background-color: red; }
  section div {
    width: 50px;
    height: 80px;
    background-color: blue;
    padding: 10px;
    box-sizing: border-box; }

button {
  width: 200px;
  height: 20px; }
